<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <telerik>
      <add key="Username" value="r.sanil@csh.ae" />
      <add key="ClearTextPassword" value="sanil0104" />
    </telerik>
  </packageSourceCredentials>
</configuration>
